@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Default */
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 1.8rem;
  width: 100%;
}

button.normal {
  font-size: 1.4rem;
  font-weight: 600;
  padding: 1.5rem 3rem;
  color: #000;
  background-color: #fff;
  border-radius: 0.4rem;
  cursor: pointer;
  border: none;
  outline: none;
  transition: 0.2s;
}

button.white {
  font-size: 1.3rem;
  font-weight: 600;
  padding: 1.1rem 1.8rem;
  color: #fff;
  background-color: transparent;
  /* border-radius: 0.4rem; */
  cursor: pointer;
  border: 1px solid #fff;
  outline: none;
  transition: 0.2s;
}

h1 {
  font-size: 5rem;
  line-height: 6.4rem;
  color: #222;
}

h2 {
  font-size: 4.6rem;
  line-height: 5.4rem;
  color: #222;
}

h4 {
  font-size: 2rem;
  color: #222;
}

h6 {
  font-weight: 700;
  font-size: 1.2rem;
}

p {
  font-size: 1.6rem;
  color: #465b52;
  margin: 1.5rem 0 2rem 0;
}

.section-p1 {
  padding: 4rem 8rem;
}

.section-m1 {
  margin: 4rem 0;
}

/* Header Section */
#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 8rem;
  background: #e3e6f3;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.6);
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

#navbar li {
  list-style-type: none;
  padding: 0 2rem;
  position: relative;
}

#navbar a {
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 600;
  color: #1a1a1a;
  transition: 0.3s ease;
}

#navbar a:hover,
#navbar a.active {
  color: #088178;
}

#navbar a.active::after,
#navbar a:hover::after {
  content: "";
  width: 30%;
  height: 0.2rem;
  background: #088178;
  position: absolute;
  bottom: -0.4rem;
  left: 2rem;
}

#mobile {
  display: none;
  align-items: center;
}

#close {
  display: none;
}

/* Home page section */
#hero {
  background-image: url("../img/hero4.png");
  height: 90vh;
  width: 100%;
  background-size: cover;
  background-position: top 25% right 0;
  padding: 0 8rem;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

#hero h4 {
  padding-bottom: 1.5rem;
}

#hero h1 {
  color: #088178;
}

#hero button {
  background-image: url("../img/button.png");
  background-color: transparent;
  color: #088178;
  border: 0;
  padding: 1.4rem 8rem 1.4rem 6.5rem;
  background-repeat: no-repeat;
  cursor: pointer;
  font-weight: 700;
  font-size: 1.5rem;
}

#feature .fe-box {
  width: 18rem;
  text-align: center;
  padding: 2.5rem 1.5rem;
  box-shadow: 2rem 2rem 3.4rem rgba(0, 0, 0, 0.3);
  border: 1px solid #cce7d0;
  border-radius: 0.4rem;
  margin: 1.5rem 0;
}

#feature .fe-box:hover {
  box-shadow: 1rem 1rem 5.4rem rgba(0, 0, 0, 0.1);
}

#feature .fe-box img {
  width: 100%;
  margin-bottom: 1rem;
}

#feature {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

#feature .fe-box h6 {
  display: inline-block;
  padding: 0.9rem 0.8rem 0.6rem 0.8rem;
  line-height: 1;
  border-radius: 0.4rem;
  color: #088178;
  background-color: #fddde4;
}

#feature .fe-box:nth-child(2) h6 {
  background-color: #cdebbc;
}
#feature .fe-box:nth-child(3) h6 {
  background-color: #d1e8f2;
}
#feature .fe-box:nth-child(4) h6 {
  background-color: #cdd4f8;
}
#feature .fe-box:nth-child(5) h6 {
  background-color: #f6dbf6;
}
#feature .fe-box:nth-child(6) h6 {
  background-color: #fff2e5;
}

#product1 {
  text-align: center;
}

#product1 .product-container {
  display: flex;
  justify-content: space-between;
  padding-top: 2rem;
  flex-wrap: wrap;
}

#product1 .product {
  width: 23%;
  min-width: 25rem;
  padding: 1rem 1.2rem;
  border: 1px solid #cce7d0;
  border-radius: 2.5rem;
  cursor: pointer;
  box-shadow: 2rem 2rem 3rem rgba(0, 0, 0, 0.2);
  background-color: rgba(0, 0, 0, 0.1);
  margin: 1.5rem 0;
  transition: 0.2s ease;
  position: relative;
}

#product1 .product:hover {
  box-shadow: 2rem 2rem 3rem rgba(0, 0, 0, 0.6);
}
#product1 .product img {
  width: 100%;
  border-radius: 2rem;
}

#product1 .product .description {
  text-align: start;
  padding: 1rem 0;
}

#product1 .product .description span {
  color: #606063;
  font-size: 1.2rem;
}

#product1 .product .description h5 {
  padding-top: 0.7rem;
  color: #1a1a1a;
  font-size: 1.4rem;
}

#product1 .product .description i {
  font-size: 1.2rem;
  color: rgb(243, 181, 25);
}

#product1 .product .description h4 {
  padding-top: 0.7rem;
  font-size: 1.5rem;
  font-weight: 700;
  color: #088178;
}

#product1 .product .cart {
  width: 4rem;
  height: 4rem;
  line-height: 4rem;
  border-radius: 5rem;
  background-color: #e8f6ea;
  /* font-weight: 500; */
  color: #088178;
  border: 1px solid #cce7d0;
  position: absolute;
  bottom: 2rem;
  right: 1rem;
}

#banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url("../img/banner/b2.jpg");
  width: 100%;
  height: 40vh;
  background-size: cover;
  background-position: center;
}

#banner h4 {
  color: #fff;
  font-size: 1.6rem;
}

#banner h2 {
  color: #fff;
  font-size: 3rem;
  padding: 1rem 0;
}

#banner span {
  color: #ef3636;
}

#banner button:hover {
  background: #088178;
}

#sm-banner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#sm-banner .banner-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  /* text-align: center; */
  background-image: url("../img/banner/b17.jpg");
  min-width: 58rem;
  height: 50vh;
  background-size: cover;
  background-position: center;
  padding: 3rem;
}

#sm-banner .banner-box2 {
  background-image: url("../img/banner/b10.jpg");
}

#sm-banner h4 {
  color: #fff;
  font-size: 2rem;
  font-weight: 300;
}

#sm-banner h2 {
  color: #fff;
  font-size: 2.8rem;
  font-weight: 800;
}

#sm-banner span {
  color: #fff;
  font-size: 1.4rem;
  font-weight: 500;
  padding-bottom: 5rem;
}

#sm-banner .banner-box:hover button {
  background: #088178;
  border: 1px solid #088178;
}

#banner3 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 8rem;
}

#banner3 .banner-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  /* text-align: center; */
  background-image: url("../img/banner/b7.jpg");
  min-width: 30%;
  height: 30vh;
  background-size: cover;
  background-position: center;
  padding: 2rem;
  margin-bottom: 2rem;
}

#banner3 .banner-box2 {
  background-image: url(../img/banner/b4.jpg);
}

#banner3 .banner-box3 {
  background-image: url(../img/banner/b18.jpg);
}

#banner3 h2 {
  color: #fff;
  font-weight: 900;
  font-size: 2.2rem;
}

#banner3 h3 {
  color: #ec544e;
  font-weight: 800;
  font-size: 1.5rem;
}

#newsletter {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background-image: url(../img/banner/b14.png);
  background-repeat: no-repeat;
  background-position: 20% 30%;
  background-color: #041e42;
}

#newsletter h4 {
  font-size: 2.2rem;
  font-weight: 700;
  color: #fff;
}

#newsletter p {
  font-size: 1.4rem;
  font-weight: 600;
  color: #818ea0;
}

#newsletter p span {
  color: #ffbd27;
}

#newsletter .form {
  display: flex;
  width: 40%;
}

#newsletter input {
  /* height: 3.125rem; */
  padding: 0 1.25em;
  font-size: 1.4rem;
  width: 100%;
  border: 1px solid transparent;
  border-radius: 0.4rem;
  outline: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

#newsletter button {
  background-color: #088178;
  color: #fff;
  white-space: nowrap;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

footer .col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 2rem;
}

footer .logo {
  margin-bottom: 3rem;
}

footer h4 {
  font-size: 1.4rem;
  padding-bottom: 2rem;
}

footer p {
  font-size: 1.3rem;
  margin: 0 0 0.8px 0;
}

footer a {
  font-size: 1.3rem;
  text-decoration: none;
  color: #222;
  margin-bottom: 1rem;
}

footer .follow {
  margin-top: 2rem;
}

footer .follow i {
  color: #465b52;
  padding-right: 0.4rem;
  cursor: pointer;
}

footer .install .row img {
  border: 1px solid #088178;
  border-radius: 0.6rem;
}

footer .install img {
  margin-top: 1rem 0 1.5rem 0;
}

footer .follow i:hover,
footer a:hover {
  color: #088178;
}

footer,
.copyright {
  width: 100%;
  text-align: center;
}

/* Shop page */
#page-header {
  background-image: url("../img/banner/b1.jpg");
  width: 100%;
  height: 40vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  padding: 1.4rem;
}

#page-header h2,
#page-header p {
  color: #fff;
}

#pagination {
  text-align: center;
}

#pagination a {
  text-decoration: none;
  background-color: #088178;
  padding: 1.5rem 2rem;
  border: 0.4rem;
  color: #fff;
  font-weight: 600;
}

#pagination a i {
  font-size: 1.6rem;
  font-weight: 600;
}

/* Single product */
#product-details {
  display: flex;
  margin-top: 2rem;
}

#product-details .single-product-img {
  width: 40%;
  margin-right: 5rem;
}

.small-img-group {
  display: flex;
  justify-content: space-between;
}

.small-img-col {
  flex-basis: 24%;
  cursor: pointer;
}

#product-details .single-product-details {
  width: 50%;
  padding-top: 3rem;
}

#product-details .single-product-details h4 {
  padding: 4rem 0 2rem 0;
}

#product-details .single-product-details h2 {
  font-size: 2.6rem;
}

#product-details .single-product-details select {
  display: block;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
}

#product-details .single-product-details input {
  width: 5rem;
  height: 4.7rem;
  font-size: 1.6rem;
  margin-right: 1rem;
}

#product-details .single-product-details input:focus {
  outline: none;
}

#product-details .single-product-details button {
  background: #088178;
  color: #fff;
}

#product-details .single-product-details span {
  line-height: 2.5rem;
  font-size: 1.4rem;
}

/* Media queries */
@media (max-width: 49.9375em) {
  .section-p1 {
    padding: 4rem 4rem;
  }

  #navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    right: -300px;
    height: 100vh;
    width: 30rem;
    background-color: #e3e6f3;
    box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.1);
    padding: 8rem 0 0 1rem;
    transition: 0.3s;
  }
  #navbar.active {
    right: 0;
  }
  #navbar li {
    margin-bottom: 2.5rem;
  }
  #mobile {
    display: flex;
    align-items: center;
  }

  #mobile i {
    color: #1a1a1a;
    font-size: 2.4rem;
    padding-left: 2rem;
  }

  #close {
    display: initial;
    position: absolute;
    top: 3rem;
    left: 3rem;
    color: #222;
    font-size: 2.4rem;
  }

  #lg-bag {
    display: none;
  }

  #hero {
    height: 70vh;
    padding: 0 8rem;
    background-position: top 30% right 30%;
  }

  #feature {
    justify-content: center;
  }

  #feature .fe-box {
    margin: 1.5rem 1.5rem;
  }

  #product1 .product-container {
    justify-content: center;
  }

  #product1 .product {
    margin: 1.5rem;
  }

  #banner {
    height: 20vh;
  }

  #sm-banner .banner-box {
    min-width: 100%;
    height: 30vh;
    padding: 3rem;
  }

  #banner3 {
    padding: 0 4rem;
  }

  #banner3 .banner-box {
    width: 28%;
  }

  #newsletter .form {
    width: 70%;
  }
}

@media (max-width: 29.8125em) {
  .section-p1 {
    padding: 2rem;
  }

  #header {
    padding: 1rem 3rem;
  }

  h1 {
    font-size: 3.8rem;
  }

  h2 {
    font-size: 3.2rem;
  }

  #hero {
    padding: 0 2rem;
    background-position: 58.9%;
  }

  #feature {
    justify-content: space-between;
  }

  #feature .fe-box {
    width: 15.5rem;
    margin: 0 0 1.5rem 0;
  }

  #product1 .product {
    width: 100%;
  }

  #product1 .product .description h5 {
    font-size: 2rem;
  }

  #banner {
    height: 40vh;
  }

  #sm-banner .banner-box {
    height: 40vh;
  }

  #sm-banner .banner-box2 {
    margin-top: 2rem;
  }

  #banner3 {
    padding: 0 2rem;
  }

  #banner3 .banner-box {
    width: 100%;
  }

  #newsletter {
    padding: 4rem 2rem;
  }

  #newsletter .form {
    width: 100%;
  }

  footer .copyright {
    text-align: start;
  }

  /* Single product */
  #product-details {
    display: flex;
    flex-direction: column;
  }

  #product-details .single-product-img {
    width: 100%;
    margin-right: 0;
  }

  #product-details .single-product-details {
    width: 100%;
  }
}
